.footer{
    position:fixed;
    left:0px;
    bottom:0px;
    z-index:1;
    background-color: var(--color-primary);
    width:100%;
    padding: var(--padding-small);
    text-align: center;
    font-size: 0.8rem;
  /* font-size: 1rem;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw; */
}

.footer__name{
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.footer__copyright{
  letter-spacing: 0.4rem;
  opacity: 0.8;
}