.hire{
  background-color: var(--color-primary);
  max-height: 100vh !important;
  /* max-width: 100vw !important; */
  

  
}

.hireme{
  display: flex;
  align-items:center;
  justify-content: space-between;
  margin: var(--margin-big);
  padding: var(--padding-big);
  
}


@media only screen and (max-width: 56.25em) {
  .hireme{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .hireme__heading{
    text-align: center;
  }

}

.hireme-content{
  /* margin: 6rem auto; */
  align-items: center;
}

.hireme__heading{
  font-size: 5rem;
  margin: var(--margin-small);
}

.hireme-content{
  color: var(--color-background);
  max-width: 40rem;
  background-color: var(--color-white);
  margin: var(--margin-small);
  padding: var(--padding-small);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  border-radius: 1rem;
}

.hireme-content__textbox{
  padding: var(--padding-small);
  font-size: 1.4rem;
  /* height: 10rem; */
  
}

.hireme-content__button{
  margin-top: var(--margin-small);
  color: var(--color-background);
  background-color: var(--color-blue);
  padding: 1rem 3rem;
  transition: all 0.4s ease-out;
  /* outline: none; */
  border: none;
  /* outline: 1rem solid transparent; */
}

.hireme-content__button:hover{
  background-color: var(--background-color);
  color: var(--color-blue);
  border: 1px solid var(--color-background);
  transform: scaleX(1.1);
  transition: all 0.4s ease-out;
}

.hire-contact{
  margin: 0 auto;
}
.white,
.orange{
  font-weight: 600;
  text-align: center;
}

.white{
  font-size: 1.2rem;
  margin-top: 0.5rem;
  color: var(--color-background);
}

.orange{
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-top: 1rem;
  color: var(--color-orange);

}